
<html>
<head>
 
</head>
 <script src="js/jquery-3.4.1.min.js"></script>

<body>

<nav class="navbar navbar-dark bg-dark">
  <img src="assets/img/mult.png" style="
   
   display: block;
  margin-left: 20px;

  width: 50px;
   
  top: 5px;

  ">
  <h3  style="color: white;
  margin-right: 1150px;">Galeria </h3>
 
</nav>

<div class="Container" >
<!-- Grid row -->
<div class="row ">

  <!-- Grid column -->
  <div class="col-md-12 d-flex justify-content-center mb-3" id="myUL">
    
   
  
    <li><a  class=" filter todos" data-rel="all" >Todo</a></li>
   <li> <a  class="  filter uno"   data-rel="1" >Monumentos</a> </li>
    <li> <a  class="filter dos" data-rel="2">Tres R </a> </li>
   

  <!-- Grid column -->
</div>
</div>



<!-- Grid row -->
 <br>

<div class="gallery" id="gallery">


  <!-- Grid column -->
  
  <!-- Grid column -->

  <!-- Grid column -->
 
 <div class=" box-img mb-3 pics animation all 1 " data-toggle="modal" data-target="#exampleModalLong">
      

    <img class="img-fluid" src="assets/img/PC.jpg" id="myImg" >
   

</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Puerta Del Conde</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <img class="img-fluid" src="assets/img/PC.jpg" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>


  <!-- Grid column -->

  <!-- Grid column -->
  <div class=" box-img mb-3 pics animation all 1" data-toggle="modal" data-target="#exampleModalLong">
    <img class="img-fluid" src="assets/img/PC.jpg">
  </div>
 

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Puerta Del Conde</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <img class="img-fluid" src="assets/img/PC.jpg" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>


  <!-- Grid column -->

  <!-- Grid column -->
  <div class=" box-img mb-3 pics animation all 1"  data-toggle="modal" data-target="#exampleModalDos">
    <img class="img-fluid" src="assets/img/monumento.jpg" alt="Card image cap">
  </div>


<div class="modal fade" id="exampleModalDos" tabindex="-1" role="dialog" aria-labelledby="exampleModalDosTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalDosTitle">Monumento de Santiago</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" src="assets/img/monumento.jpg" alt="Card image cap">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>




  <!-- Grid column -->

  <!-- Grid column -->
  <div class=" box-img mb-3 pics animation all 1" data-toggle="modal" data-target="#exampleModalDos">
    <img class="img-fluid" src="assets/img/monumento.jpg" alt="Card image cap">
  </div> 
<div class="modal fade" id="exampleModalDos" tabindex="-1" role="dialog" aria-labelledby="exampleModalDosTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalDosTitle">Monumento de Santiago</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" src="assets/img/monumento.jpg" alt="Card image cap">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>





  <div class=" box-img mb-3 pics animation all 2" data-toggle="modal" data-target="#exampleModalTres">
    <img class="img-fluid" src="assets/img/3r.jpg" alt="Card image cap">
  </div>

  
<div class="modal fade" id="exampleModalTres" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalTresTitle">Las Tres R </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" src="assets/img/3r.jpg" alt="Card image cap">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>







  <div class=" box-img mb-3 pics animation all 2" data-toggle="modal" data-target="#exampleModalTres">
    <img class="img-fluid" src="assets/img/3r.jpg" alt="Card image cap">
  </div>

  <div class="modal fade" id="exampleModalTres" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalTresTitle">Las Tres R </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" src="assets/img/3r.jpg" alt="Card image cap">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>







  <div class=" box-img mb-3 pics animation all 2" data-toggle="modal" data-target="#exampleModalTres">
    <img class="img-fluid" src="assets/img/3r.jpg" alt="Card image cap">
  </div> 

  






  <div class=" box-img mb-3 pics animation all 1" data-toggle="modal" data-target="#exampleModalLong">
    <img class="img-fluid" src="assets/img/PC.jpg" alt="Card image cap">
  </div>

  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Puerta Del Conde</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <img class="img-fluid" src="assets/img/PC.jpg" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>

  






  <div class="box-img mb-3 pics animation all 1" data-toggle="modal" data-target="#exampleModalLong">
    <img class="img-fluid" src="assets/img/PC.jpg" alt="Card image cap">
  </div>

  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Puerta Del Conde</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <img class="img-fluid" src="assets/img/PC.jpg" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>
  <!-- Grid column -->

  <!-- Grid column -->
  









  <div class=" box-img mb-3 pics animation all 1" data-toggle="modal" data-target="#exampleModalLong">
    <img class="img-fluid" src="assets/img/PC.jpg">
  </div>


  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Puerta Del Conde</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <img class="img-fluid" src="assets/img/PC.jpg" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>
  <!-- Grid column -->


<!-- Grid row -->

</div>
</div>




</body>
</html>







