
<div class="ion-content" style=" max-height: 500%; background-image: linear-gradient(to right, #1E90FF, #0091dd, #000080);">

<img src="assets/img/loginDUC.png" style="
   
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  position: relative; 
  top: 10px;
  box-shadow: 5px 5px 5px; 
  border-radius: 60px;
    
  "> 

<br>

 <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
       
     <img class="d-block w-100" src="assets/img/2011.jpg" alt="First slide" >
     <div class="carousel-caption d-none d-md-block">
    <h5 class="h5-responsive" style="font-weight: bold; color: white;">Dale Un Chance 2011</h5>
     
        
      </div>
  
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/2012.jpg" alt="Second slide">
    <div class="carousel-caption d-none d-md-block">
    <h5 class="h5-responsive" style="font-weight: bold; color: white;">Dale Un Chance 2012</h5>
     
        
      </div>

    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/2013.jpg" alt="Third slide">
    <div class="carousel-caption d-none d-md-block">
    <h5 class="h5-responsive" style="font-weight: bold; color: white;">Dale Un Chance 2013
    </h5>
     
        
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/2014.jpg" alt="Third slide">
    <div class="carousel-caption d-none d-md-block">
    <h5 class="h5-responsive" style="font-weight: bold; color: white;">Dale Un Chance 2014</h5>
     
        
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/2015.jpg" alt="Third slide">
    <div class="carousel-caption d-none d-md-block">
    <h5 class="h5-responsive" style="font-weight: bold; color: white;">Dale Un Chance 2015</h5>
     
        
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/2016.jpg" alt="Third slide">
   <div class="carousel-caption d-none d-md-block">
    <h5 class="h5-responsive" style="font-weight: bold; color: white;">Dale Un Chance 2016</h5>
     
        
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/2017.jpg" alt="Third slide">
    <div class="carousel-caption d-none d-md-block">
    <h5 class="h5-responsive" style="font-weight: bold; color: white;">Dale Un Chance 2017</h5>
     
        
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/2018.jpg" alt="Third slide">
   <div class="carousel-caption d-none d-md-block">
    <h5 class="h5-responsive" style="font-weight: bold; color: white;">Dale Un Chance 2018</h5>
     
        
      </div>
    </div>
  </div>
<div class="col-lg-2 col-xs-4 col-md-4 col-s-12" style="float: right; margin-padding: 0; margin-width:0; margin-height:0; ">

   <div *ngIf="!parametro">
  <button (click)="redirigirDos()" type="button" class="btnIs btn-primary btn-lg " style="background-color: lime;">Iniciar Sesion</button>

</div>
</div> 


</div>

<br>
<br>
<br>
   
</div>




<br>
<br>


<!-- Footer -->
<section class="footer">
  <div class="container">
    <div class="row">


      <div class="col-lg-2 col-xs-2 col-md-12 col-sm-12 text-center">
        <img class="img-fluid" src="assets/img/logo_footer.png" alt="logo"><br><br>
      </div>
      <div class="col-lg-8 col-xs-8 col-md-12 col-sm-12 text-center text-xs-left text-lg-left">
        <p class="contact-info">
          <strong>809-687-APAP (2727)</strong> <br>
          Sin cargos desde el interior: 1-809-200-2737 | Sin cargos desde EEUU: 1-877-589-2727
        </p>
        <p class="footer-text text-center">
          <a href="https://www.apap.com.do/acerca-de-apap/" rel="external">Sobre APAP</a> • <a href="https://www.apap.com.do/seguridad" rel="external">Seguridad</a> • <a href="https://www.apap.com.do/aviso-legal" rel="external">Aviso Legal y Términos y Condiciones</a> • <a href="https://www.apap.com.do/acerca-apap/excelente-lugar-de-trabajar/" rel="external">Trabaja con nosotros</a> • <a href="https://www.apap.com.do/canales" rel="external">Contacto</a> <br> • <a href="https://www.apap.com.do/politicas-y-privacidad/" rel="external">Políticas y Privacidad</a>
        </p>

        <p class="footer-text copytiny">© 2019 Asociación Popular de Ahorros y Préstamos | Todos los derechos reservados. </p>
      </div>
      <div class="col-lg-2 col-xs-2 col-md-12 col-sm-12 text-center text-xs-right text-lg-right">
        <br>
        <a  style="padding: 2px;" href="https://www.facebook.com/asocpopular/" target="_blank" rel="external"><img src="assets/img/fb.png" class="img-fluid" alt="facebook"></a>
        <a style="padding: 2px;"href="https://www.instagram.com/asocpopular/" target="_blank" rel="external"><img src="assets/img/ig.png" class="img-fluid" alt="instagram"></a>
        <a style="padding: 2px;" href="https://twitter.com/AsocPopular" target="_blank" rel="external"><img src="assets/img/twitterf.png" class="img-fluid" alt="twitter"></a>
        <a  style="padding: 2px;"href="https://www.youtube.com/user/AsociacionPopular" target="_blank" rel="external"><img src="assets/img/yt.png" class="img-fluid" alt="youtube"></a>
        <a  style="padding: 2px;"href="https://www.linkedin.com/company/asociaci-n-popular-de-ahorros-y-pr-stamos/" target="_blank" rel="external"><img src="assets/img/in.png" class="img-fluid" alt="linkeding"></a>
      </div>
    </div>
  </div>
</section>