<!-- Just an image -->
<nav class="navbar navbar-dark bg-dark">
<img src="assets/img/tarea.png"><h3>
  Tareas
</h3>
</nav>

<div class="container">

<div class="table-responsive">

  <!--Table-->
  <table class="table table-borderless">

    <!--Table head-->
    <thead>
      <tr>
        <th>Tareas</th>
        <th class="th-lg">Descripcion</th>
        <th class="th-lg">Fecha</th>
       
      </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td > <details>
          <summary>Esta tarea</summary>
  
  <p>Fragmento de un escrito con unidad temática, que queda diferenciado del resto de fragmentos por un punto y aparte y generalmente también por llevar letra mayúscula inicial y un espacio en blanco en el margen izquierdo de alineación del texto principal de la primera línea.</p>
</details>



        </td>
        <td>Lorem ipsum dolor</td>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><details>
          <summary>Esta tarea</summary>
  
  <p>Fragmento de un escrito con unidad temática, que queda diferenciado del resto de fragmentos por un punto y aparte y generalmente también por llevar letra mayúscula inicial y un espacio en blanco en el margen izquierdo de alineación del texto principal de la primera línea.</p>
</details></td>
        <td>Lorem ipsum dolor</td>
        
      </tr>
      <tr>
        <th scope="row">3</th>
        <td><details>
          <summary>Esta tarea</summary>
  
  <p>Fragmento de un escrito con unidad temática, que queda diferenciado del resto de fragmentos por un punto y aparte y generalmente también por llevar letra mayúscula inicial y un espacio en blanco en el margen izquierdo de alineación del texto principal de la primera línea.</p>
</details></td>
        <td>Lorem ipsum dolor</td>
      
      </tr>
    </tbody>
    <!--Table body-->

  </table>
  <!--Table-->

</div>
</div>